Makefile
*.stash
*.a
Makefile
*Makefile*
*/Makefile*
*.a
/.vs
/common/.vs/Maya/v15
/common/x64/Debug
/common/x64/Release
/common/Maya.vcxproj
/common/Maya.vcxproj.filters
viewer/parser
viewer/tests
viewer/moc*
*.user
